<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TodoList</title>

	<link rel="stylesheet" href="/css/todos.css">

	<script type="text/javascript" src="/js/todos.js"></script>
</head>
<body id="todoListApp">
	<h1>My List</h1>

	<form action="/" method="post"><input type="text" id="todo" name="todo" size="30" autocomplete=""></form>
	<ul id="incomplete">
	</ul>

	<h3>Completed</h3>
	<ul id="complete">
	</ul>
</body>
</html>